{% extends 'base.html' %}

{% block title %}เข้าสู่ระบบ{% endblock %}
{% block breadcrumb %}<li>เข้าสู่ระบบ</li>{% endblock %}
{% block header %}
<div class="grid_16"><div class="ignore"><h1>เข้าสู่ระบบ</h1></div></div>
{% endblock %}

{% block content %}
<form action="." method="post">
{% csrf_token %}

<ul class="signin">
<li>{% if form.errors %}<div class="errors">กรุณาใส่ชื่อผู้ใช้และรหัสผ่านให้ถูกต้อง</div>{% endif %}</li>
<li><label for="id_username">ชื่อผู้ใช้:</label> {{form.username}}{{form.username.errors}}</li>
<li><label for="id_password">รหัสผ่าน:</label> {{form.password}}{{form.password.errors}}</li>
<li><div class="button_panel"><input type="submit" value="เข้าสู่ระบบ" /> <span>[<a href="/accounts/password/reset/">ลืมรหัสผ่าน?</a>]</span></div></li>
</ul>

{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% else %}<input type="hidden" name="next" value="{% url home %}" />{% endif %}
</form>
{% endblock %}
