{% extends 'base.html' %}

{% block title %}ตั้งรหัสผ่านใหม่{% endblock %}
{% block breadcrumb %}<li>ตั้งรหัสผ่านใหม่</li>{% endblock %}

{% block content %}
<h2>ตั้งรหัสผ่านใหม่</h2>
<form action="." method="POST">
{% csrf_token %}
{% if form.errors %}<div class="errors">ไม่มีข้อมูลอีเมลนี้ในระบบ</div>{% endif %}
<ul>
<li><label for="id_email">อีเมลของผู้ใช้:</label> {{form.email}}{{form.email.errors}}</li>
</ul>
<div class="button_panel"><button type="submit">ตกลง</button></div>
</form>
{% endblock %}
