{% extends 'base.html' %}

{% block title %}ตั้งรหัสผ่านใหม่{% endblock %}
{% block breadcrumb %}<li>ตั้งรหัสผ่านใหม่</li>{% endblock %}

{% block content %}
<h2>ตั้งรหัสผ่านใหม่</h2>
{% if validlink %}
<form action="." method="POST">
{% csrf_token %}
<ul>
<li><label for="id_new_password1">รหัสผ่าน:</label> {{form.new_password1}}{{form.new_password1.errors}}</li>
<li><label for="id_new_password2">ยืนยันรหัสผ่าน:</label> {{form.new_password2}}{{form.new_password2.errors}}</li>
</ul>
<div class="button_panel"><input type="submit" value="ตกลง" /></div>
</form>
{% else %}
ไม่สามารถตั้งรหัสผ่านใหม่ได้ เนื่องจากไม่มีข้อมูลการขอตั้งรหัสผ่านนี้ในระบบ
{% endif %}
{% endblock %}
