body{
	font-family: Helvetica, Arial, sans-serif
	font-size: 0.875em;
	line-height: 1.5em;
	border-top: 5px solid #755C3B;
	background-color: #fffff9;
}
.container_16{
	position: relative;
}
a{ color: #1d80cc;}
a:hover{ text-decoration: underline;}

h1,h2,h3,h4,h5,h6{
	line-height: 1.4em;
}

input[type="text"]{
	padding: 3px;
}

/* Openkala */
#site-name{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 165px;
	font-size: 	1.2em;
	font-family: Georgia;
	font-style: italic;
	color: #4f4f4f;
}
#site-name h1{
	line-height: 1em;
}
#site-name a{
	text-decoration: none;
}


/* breadcrumb */
#breadcrumb ul{
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
}
#breadcrumb li{
	float: left;
	list-style: none;
	padding: 5px 5px;
	font-size: 1.143em;
	font-weight: bold;
	font-style: italic;
}
#breadcrumb li a{
	display: block;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
#breadcrumb li a:after{
	content: " > ";
}

/* header-wrapper */
#header-wrapper{
	clear: both;
	overflow: hidden;
	min-height: 70px;
	margin: 20px 0 20px 0;
	padding: 10px;
	border: 1px solid #e6e6e6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #4F4F4F;
	background-color: #fff;
}
#header-wrapper h1{
	margin: 10px 0;
	font-size: 1.5em;
}
#header-wrapper p{
	margin: 0;
}

/* Content */
.content{
	padding: 0px;
}

/* Menu */
.menu li{
	float: left;
	margin: 0 10px 0 0;
}
.menu li a{
	padding: 5px 20px;
	border: 1px solid #e6e6e6;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	background-color: #f6f6f6;
}
.menu li.active a{
	background-color: #E8EFE8;
}

/* Grid Style */
.thead{ /* Heading Column*/
	border-top : 1px solid #CCCCCC;
	background-color : #e8efe8;
	color : #2f365f;
}

.thead .ignore, .header-wrapper_2, .standard_header{ /* Bold Heading Font */
	padding : 10px 0px 20px;
	font-weight : bold;
	font-size : 1.2em;
	color : #4F4F4F;
	text-align: center;
}

/* List items */
.tbody div.item {
  min-height:7em;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
.tbody .odd {
  background-color: #fff;
}
.tbody .even {
  background-color: #f8f8f8;
}
.task div.item .hrow{ 
	font-size: 1em;
	font-weight: normal;
}
.tbody div.topic-title {
  font-size: 120%;
  min-height: 2em;
  padding-bottom: 5px;
}
.tbody div.topic-body {
  margin-left: 10px;
}
.tbody div.topic-standard {
  padding-top: 10px;
  padding-bottom: 10px;
}
.standard_header-wrapper{
	border-bottom: 1px solid #CCCCCC;
}
.header-wrapper_1 {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.header-wrapper_2 {
  line-height: 25px;
  text-align: center;
}
/* Days Label*/
.day-wrap {
  margin-left: 30px;
}
.day-label{
	float: left;
	margin-right: 5px;
}
div.day-hour {
  float: left;
  padding: 0 !important;
  margin-right: 5px;
}
/* Status(Standart tab) */

/* Plan */
.toolbar{
	padding: 15px 0 15px 20px;
	background-color: #E8EFE8;
}
#plan, #topic, #standard, #project-add{
	background-color : #FAFAFA;
	border : 1px solid #e3e3e3;
	border-top: 5px solid #e3e3e3;
}

/* Editor Text */
.editable {
  min-height: 20px;
}
div.editable{
	padding: 5px !important;
	font-size: 1em ;
	font-weight: normal ;
	line-height: 1.5em;
	text-align: left !important;
	color: #716a6e;
}
#topic div.editable{
	padding: 5px 0 !important
}
div.GENTICS_editable_active{
	padding: 3px;
/* 	border: 1px solid #c9c9c9; */
	background-color: #fff;
}
.GENTICS_editable_highlight {
	outline: #FFE767 dashed 2px !important;
}

.GENTICS_block.core-standard.core-standard-selected {
  background: yellow !important;
}
.GENTICS_editable_active, .GENTICS_editable_active[contenteditable="true"]:focus {
  outline: 2px dashed #B7D6FA !important; /* Override */
  background-color: #fff;
}

/* custom */
.week {
  width: 49%;
  float: left;
}
.week label {
  display: block;
}
.week input {
  display: table-cell;
}

.tbody .item .plan {
  text-align: center;
}
.left {
  float: left;
}

/* All Project */
#project .tbody{
	text-align: center;
}

/* Create new prject */
#project-add-form{
	margin: 0;
	padding: 0;
}
#project-add-form li{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	list-style: none;
}
#project-add-form label{
	float: left;
	width: 170px;
}
#project-add-submit{
	margin: 0 0 20px 40px;
}