{% if gallery_list %}
<div id="thumbnail-box">
  <div id="thumbnails">
    {% for item in gallery_list %}
    <div class="small-image-box">
      <a href="{% url stockphoto_gallery_detail project_id item.id %}">
        {% if item.first %}
        <img src="{{ item.first.thumburl }}" alt="{{ item.first.title }}" />
        {% else %}
        ยังไม่มีรูปในอัลบัม
        {% endif %}
      </a>
      <a href="{% url stockphoto_gallery_detail project_id item.id %}"><span>{{ item.title }}</span></a>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<p>ยังไม่มีอัลบัมภาพ</p>
{% endif %}
<br id="imageboxes-break"/>


{% if is_paginated %}

{% if has_previous %}
<a href="{% url stockphoto_gallery_list project_id %}?page={{ previous }}">&laquo; กลับ</a> |
{% endif %}
{% if has_next %}
<a href="{% url stockphoto_gallery_list project_id %}?page={{ next }}">ไป &raquo;</a>
{% endif %}
{% endif %}
{% if not user.is_anonymous %}
<form id="photo-upload-form" action='#' method='post' enctype='multipart/form-data'>
  <input id="photo-upload" name="uploads[]" type="file" multiple="multiple" value="อพโหลดรป" />
  <div id="photo-current-wrap"></div>
</form>
<script>

$(document).ready(function () {
  photo_upload_build(true);
});
</script>
{% else %}
<p>
  <a href="/accounts/login/?next={{ request.path }}">เข้าสู่ระบบ</a> เพื่อสร้างอัลบัมภาพ
</p>
{% endif %}
