<div class="head-2">
    <div class="{% if is_paginated %}grid_12{% else %}grid_16 {% endif %}">
        <h2 class="gallery-all-title title">อัลบัมภาพทั้งหมดของโครงงาน</h2>

        {% if user.is_authenticated %}
        <div id="gallery-add" class="thead gallery">
          <div id="gallery-add-link" class="form-add add-button" style="display:{% if is_view_mode %}none{% else %}block{% endif %};">
            <a href="#">สร้างอัลบัมภาพใหม่</a>
          </div>
          <div id="gallery-add-form">
            <div class="grid_7 head-wrapper">
                <h1>สร้างอัลบัมภาพ</h1>
            </div>
            <div class="clearfix"></div>
            <div class="grid_2">
                <div id="Gallery-0-title-label">ชื่ออัลบัม</div>
            </div>
            <div class="grid_5">
                <div id="Gallery-0-title" class="ignore Gallery-title editable"></div>
            </div>
            <div class="clearfix"></div>
            <div class="grid_7" style="display: none;">
                <div id="Gallery-0-created" class="ignore Blog-created">{{ user.id }}</div>
            </div>
            <div class="clearfix"></div>
            <div class="grid_7 submit-wrapper">

                <form id="photo-upload-form" action='#' method='post' enctype='multipart/form-data' style="display:{% if is_view_mode %}none{% else %}block{% endif %};">
                  <input id="photo-upload" name="uploads[]" type="file" multiple="multiple" value="อพโหลดรป" />
                </form>

                <button id="gallery-add-cancel">ยกเลิก</button>
            </div>
            <div class="clearfix"></div>
            <div id="photo-current-wrap" class="grid_7"></div>
            <div class="clearfix"></div>
          </div>
        </div>

        {% endif %}



    </div>
</div>

{% if gallery_list %}
{% if is_paginated %}
<div class="head-1">
    <div class="grid_4">
        {% if has_previous %}
        <a class="prev" href="{% url stockphoto_gallery_list project_id %}?page={{ previous }}">&laquo; ย้อนกลับ</a> |
        {% endif %}
        {% if has_next %}
        <a class="next" href="{% url stockphoto_gallery_list project_id %}?page={{ next }}">ถัดไป &raquo;</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div id="thumbnail-box">
  <div class="grid_16">
    <div id="thumbnails">
      {% for item in gallery_list %}
      <div class="small-album-box">
        <div class="small-image-box">
          {% if user.is_authenticated %}
          <div class="gallery-delete-wrap form-add" style="display:{% if is_view_mode %}none{% else %}block{% endif %};">
            <a class="gallery-delete-link delete-link" href="{% url stockphoto_gallery_delete project_id item.id %}">ลบ</a>
          </div>
          {% endif %}
          <a href="{% url stockphoto_gallery_detail project_id item.id %}">
            {% if item.first %}
            <img src="{{ item.first.thumburl }}" alt="{{ item.first.title }}" />
            {% else %}
            ยังไม่มีรูปในอัลบัม
            {% endif %}
          </a>
          <a href="{% url stockphoto_gallery_detail project_id item.id %}"><span>{{ item.title }}</span></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<p>ยังไม่มีอัลบัมภาพ</p>
{% endif %}
<br id="imageboxes-break"/>

{% if user.is_authenticated %}
<script>

    $(document).ready(function () {
      photo_upload_build(true);
    });

    $('#gallery-add-link').click(function (e) {
      e.preventDefault();
      $('#gallery-add-form').show();
      $('#add-frame').show();
    });

    $('#gallery-add-cancel').click(function () {
      $('#gallery-add-form').hide();
      $('#add-frame').hide();
      $('#gallery-add .editable').html('');
    });

    window.history.pushState('', '', '/projects/{{ project_id }}/stockphoto#gallery-tab');

</script>
{% endif %}
