<div class="head-2">
    <div class="{% if is_paginated %}grid_12{% else %}grid_16 {% endif %}">
        <h2 class="gallery-all-title title">อัลบัมภาพทั้งหมดของโครงงาน</h2>

        {% if user.is_authenticated %}
        <form id="photo-upload-form" class="form-add" action='#' method='post' enctype='multipart/form-data' style="display:{% if is_view_mode %}none{% else %}block{% endif %};">
          <input id="photo-upload" name="uploads[]" type="file" multiple="multiple" value="อพโหลดรป" />
          <div id="photo-current-wrap"></div>
        </form>
        <script>

        $(document).ready(function () {
          photo_upload_build(true);
        });
        </script>
        {% endif %}
    </div>
</div>

{% if gallery_list %}
{% if is_paginated %}
<div class="head-1">
    <div class="grid_4">
        {% if has_previous %}
        <a class="prev" href="{% url stockphoto_gallery_list project_id %}?page={{ previous }}">&laquo; ย้อนกลับ</a> |
        {% endif %}
        {% if has_next %}
        <a class="next" href="{% url stockphoto_gallery_list project_id %}?page={{ next }}">ถัดไป &raquo;</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div id="thumbnail-box">
  <div class="grid_16">
    <div id="thumbnails">
      {% for item in gallery_list %}
      <div class="small-album-box">
        <div class="small-image-box">
          <a href="{% url stockphoto_gallery_detail project_id item.id %}">
            {% if item.first %}
            <img src="{{ item.first.thumburl }}" alt="{{ item.first.title }}" />
            {% else %}
            ยังไม่มีรูปในอัลบัม
            {% endif %}
          </a>
          <a href="{% url stockphoto_gallery_detail project_id item.id %}"><span>{{ item.title }}</span></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<p>ยังไม่มีอัลบัมภาพ</p>
{% endif %}
<br id="imageboxes-break"/>


