{% if gallery %}
<div class="head-2">
    <div id="Gallery-{{ gallery.id }}-title" class="ignore editable gallery-{{ gallery.id }} gallerytitle">{{ gallery.title }}</div>
    <div class="gallery-navi">
        <a href="{% url stockphoto_gallery_list project_id %}">อัลบัมทั้งหมด</a>
    </div>
</div>
{% if user.is_authenticated %}
<form id="photo-upload-form" class="form-add head-1" action='#' method='post' enctype='multipart/form-data' style="display:{% if is_view_mode %}none{% else %}block{% endif %};">
  <input id="photo-upload" name="uploads[]" type="file" multiple="multiple" value="อัพโหลดรูป" />
  <div id="photo-current-wrap"></div>
</form>
<script>

$(document).ready(function () {
  photo_upload_build();
});
</script>
{% endif %}

{% if gallery.photo_set.count %}

<div id="thumbnail-box">
<ul id="thumbnails">
{% for item in gallery.photo_set.all %}
<li>
  <div class="small-image-box">
    <a href="{% url stockphoto_photo_detail project_id item.id %}">
      <img src="{{ item.thumburl }}"
           alt="{{ item.title }}" />
    </a>
    <a href="{% url stockphoto_photo_detail project_id item.id %}"><span>{{ item.desc }}</span></a>
  </div>
</li>                  
{% endfor %}
</ul>
</div>
{% else %}
<p>ยังไม่มีภาพในอัลบัม</p>
{% endif %}
<br class="imageboxes-break"/>


{% else %}
<p>ไม่พบอัลบัมรูปที่คุณค้นหา</p>
{% endif %}
