<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{{ STATIC_URL }}aloha/aloha.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}aloha/plugins/com.gentics.aloha.plugins.Table/plugin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}aloha/plugins/com.gentics.aloha.plugins.List/plugin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}aloha/plugins/com.gentics.aloha.plugins.HighlightEditables/plugin.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}aloha/plugins/com.gentics.aloha.plugins.Link/plugin.js"></script>
        
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}extjs/resources/css/ext-sandbox.css"/>
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/960.css"/>
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/style.css"/>
    <script type="text/javascript"
        src="{{ STATIC_URL }}extjs/builds/ext-all-sandbox-debug.js"></script>

    {% block script %}{% endblock %}
    {% block myScript %}{% endblock %}
<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
</head>

<body>
<div class="container_16">
    
    <div id="breadcrumb">
        <div class="grid_16">
            <h2><a href="/projects">Project List</a></h2>
            {% block breadcrumb %}{% endblock %}
        </div>
    </div>
    
    <div id="header-wrapper">
        <div class="grid_16">
            {% block header %}{% endblock %}
        </div>
    </div>
    
    <div id="content-wrapper" style="min-height:30em">
        {% block content %}{% endblock %}
    </div>
    
    <div class="footer-wrapper">
        <div class="grid_2 prefix_14" style="margin-top:3em">
        </div>
        {% block footer %}{% endblock %}
    </div>
    
    <div class="clear"/>
</div>
</body>
</html>
