<div class="item{%if blog_full %} full{% else %} teaser{% endif %}">
    <div class="blog-detail-container">
        <div class="grid_12">
            <div class="head-2">
                <h2 id="Blog-{{ blog.id }}-title" class="ignore title Blog-title{% if blog_full %} editable{% endif %}">
                  {% if blog_full %}
                  {{ blog.title|safe }}
                  {% else %}
                  <a href="{% url quarter_blog_detail project_id blog.id %}">{{ blog.title|safe }}</a>
                  {% endif %}
                </h2>
                {% if blog_full %}
                <div class="blog-navi navi">
                  <a href="{% url quarter_blog_list project_id %}">บล็อกทั้งหมด</a>
                </div>
                {% endif %}
            </div>

            <div id="Blog-{{ blog.id }}-body" class="ignore Blog-title{% if blog_full %} editable{% endif %}">{%if blog_full %}{{ blog.body|safe }}{% else %}{{ blog.body|safe|truncatewords_html:400 }}{% endif %}</div>
            {% if not blog_full %}
            <a href="{% url quarter_blog_detail project_id blog.id %}" class="Blog-readmore readmore">อ่านต่อ</a>
            {% endif %}

        </div>
    </div>

    <div class="blog-detail-side-container">
        <div class="grid_4">
            {% if user.is_authenticated %}
            {%if blog_full %}
            <div id="Blog-edit" class="form-add side">
                <div id="blog-delete-wrap" class="form-add" style="display:{% if is_view_mode %}none{% else %}block{% endif %};"><a id="blog-delete" href="{% url quarter_blog_delete project_id blog.id %}">ลบบล็อก</a></div>
                <div id="Blog-{{ blog.id }}-plans-form" class="ignore Blog-plans-form">
                {{ plan_tags_form }}
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="Blog-meta">
                <div id="Blog-{{ blog.id }}-created" class="ignore Blog-created">{{ blog.created|date:'d/m/Y' }}</div>
                <div id="Blog-{{ blog.id }}-user" class="ignore Blog-user">โดย <a href="#">{{ blog.user.username }}</a></div>
                <div id="Blog-{{ blog.id }}-plans-view" class="ignore Blog-plans-view">
                    <ul>
                    {% for plan in blog.plans.all %}
                    <li>ใน <a href="{% url quarter_plan project_id plan.week %}#plan-tab" class="plan-week-link">สัปดาห์ที่ {{ plan.week }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

