{% extends "base.html" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    Ext.onReady(function() {

      function saveEditable() {
        //console.log(arguments);
      }

      GENTICS.Aloha.settings = {
          "i18n": {"current": "en"},
          "ribbon": false,
          "plugins": { 
            "com.gentics.aloha.plugins.GCN": { 
              "enabled": true 
            },
            "com.gentics.aloha.plugins.Format": { 
              config : [ 'b', 'i','u','del','sub','sup', 'p', 'title', 'h1', 'h2', 'h3', 'h4', 
    'h5', 'h6', 'pre', 'removeFormat'],
            } 
          }
        };
      $('.editable').aloha();
      
      GENTICS.Aloha.EventRegistry.subscribe(GENTICS.Aloha, "editableDeactivated", saveEditable);
    });
</script>
{% endblock %}

{% block title %}Plan for week : {{ plan.week }}{% endblock %}

{% block header %}
<h1>Plan for week : <span>{{ plan.week }}<span></h1>
{% endblock %}

{% block content %}
<div id="content">
    <div class="thead">
        <div class="grid_2">Day</div>
        <div class="grid_5">Activity</div>
        <div class="grid_3">Source</div>
        <div class="grid_3">Work</div>
        <div class="grid_3">Assessmentj</div>
    </div>
    {% include "plan_items.html" %}
    <div class="clear" />
</div>
{% endblock %}
