{% extends "base.html" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
Ext4.onReady(function(){
    
    Ext4.define('Project', {
        extend: 'Ext4.data.Model',
        fields: [
            {name: 'id'},
            {name: 'name', type: 'string'},
            {name: 'grade', type: 'integer'},
            {name: 'year', type: 'integer'},
            {name: 'quarter', type: 'integer'}
        ]
    });
    
    var store = Ext4.create('Ext4.data.Store', {
        autoDestroy: true,
        model: 'Project',
        proxy: {
            type: 'rest',
            headers: {
                'X-CSRFToken': getCookie('csrftoken') // django only
            },
            url: '/api/projects/',
            reader: 'json'
        },
        autoLoad: true
    }); 
    
    var editPanel = Ext4.create('Ext4.window.Window', {
        title: 'Add Project',
        height: 400,
        width: 500,
        closeAction: 'hide',
        layout: 'fit',
        items: {
            xtype: 'form',
            bodyPadding: 5,
            defaultType: 'numberfield',
            items: [
                {
                    xtype: 'htmleditor',
                    fieldLabel: 'Name',
                    name: 'name',
                    allowBlank: false,
                    width: 400,
                    height: 200
                },
                {
                    fieldLabel: 'Grade',
                    name: 'grade'
                },
                {
                    fieldLabel: 'Year',
                    name: 'year'
                },
                {
                    fieldLabel: 'เทอม',
                    name: 'quarter'
                }
            ]
        },
        buttons: [
            {
                text: 'OK',
                handler: function() {
                    editPanel.hide();
                    var formPanel = editPanel.down('form');
                    var form = formPanel.getForm();
                    if (editPanel.currentRecord) {
                        form.updateRecord(editPanel.currentRecord);
                    } else {
                        record = Ext4.ModelManager.create(form.getValues(), 'Project');
                        store.insert(0, [record]);
                    }
                    store.sync();
                }
            }
        ], 
        newProject: function() {
            this.mode = 'NEW';
            this.setTitle('New Project');
            this.show();
            this.currentRecord = null;
            this.down('form').getForm().reset();
        },
        editProject: function(record) {
            this.mode = 'EDIT';
            this.setTitle('Edit Project')
            this.show();
            this.currentRecord = record;
            this.down('form').getForm().loadRecord(record);
        }
    })
    
});
</script>
{% endblock %}

{% block content %}
<h1>PostMSG</h1>
<script>
function post(){
    $.post('/api/projects/', JSON.stringify({
      name: $('input[name="name"]')[0].value
      grade: $('input[name="grade"]')[0].value
      year: $('input[name="year"]')[0].value
      quarter: $('input[name="quarter"]')[0].value
      csrf: $('input[name="csrfmiddlewaretoken"]')[0].value}))
}
</script>

<form>
    <input type="button" value="testUpdate" onmouseclick="post()" />
</form>

<form action="/api/projects/" method="POST" id="testAPI">
    {% csrf_token %}
    <input type="text" name="id"/>
    <input type="text" name="name"/>
    <input type="text" name="grade" value="2" />
    <input type="text" name="year" value="2554"/>
    <input type="text" name="quarter" value="1"/>
    <input type="submit" name="post" />
</form>
{% endblock %}
