{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}openkala/corestandard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}openkala/plan.js"></script>

<script type="text/javascript" charset="utf-8">
    var project_id = {{ project.id }};
    var history_last_id = {{ history_last_id }};
    var is_authenticated = {% if user.is_authenticated %}true{% else %}false{%endif %};
    var static_url = '{{ STATIC_URL }}';

    // Site
    var Site = function() {
      var self = this;
      var mode = 'view';
      self.latest_mode = 'view';

      self.canEdit = function () {
        return mode == 'edit';
      }

      self.getMode = function (is_default) {
        if (is_default) {
          var resp = $.ajax({
              type: 'GET',
              url: '/projects/' + project_id + '/getmode',
              dataType: 'json',
              async: false
          });
          mode = resp.responseText;
        } 
        return mode;
        
      }

      self.setMode = function (m, fn, force){
        if (m != mode || force) {
          var resp = $.ajax({
              type: 'GET',
              url: '/projects/' + project_id + '/setmode/' + m,
              dataType: 'json',
              async: false
          });
          mode = resp.responseText;

          if (m == 'view') {
            $('#mode-style').html('.form-add { display: none !important; }');
            $('.editable').contentEditable(false);
            $('.plans-map').hide();
            $('.plans-show').show();
            $('#topic .tbody .item').each(function () {
              var has_content = false;
              $('.editable', this).each(function () {
                if ($(this).html()) {
                  has_content = true;
                }
              });

              if (!has_content) {
                $(this).hide();
              }
            });
          }
          else if (m == 'edit') {
            if (!is_authenticated) {
              self.setMode('view');
              return false;
            }
            $('.editable').contentEditable(true);
            $('#mode-style').html('.form-add { display: block !important;}');
            $('.plans-show').hide();
            $('.plans-map').show();
            $('#topic .tbody .item').show();
          }

          if (fn) {
            $('#mode-button').click();
          }
          else {
            self.latest_mode = m;
          }
        }

      }

      self.init = function () {
        self.setMode(mode, false, true);
      }
      mode = self.getMode(true);
      self.latest_mode = mode;
    }

    site = new Site();

    // Plan
    planHandler.init(project_id, static_url);


    // History

    var History = function (project_id) {
      var self = this;
      var mode = 'disabled';
      var week = 1;
      var compare_data = {};
      var original_data = {};

      self.init = function () {
        original_data = {};
        week = $('#week_options').val();
        $('.editable').each(function () {
          original_data[$(this).attr('id')] = {'jqobj': $(this), 'html':  $(this).html()}; 
        });
      };

      self.setMode = function (m) {
        if (m == mode) {
          return false;
        }
        mode = m;
        if (mode == 'normal') {
          $('.history-message').remove();
          $('#mode-status').hide();
        }
        else if (mode == 'compare') {
          site.setMode('view', true);
          $('#mode-status').show();
        }
      };

      self.getMode = function () {
        return mode;
      };

      self.disable = function () {
        //self.setMode('normal');
        $('#week_options').val(week);
        $.each(original_data, function(selector, origin) {
          origin['jqobj'].html(origin['html']);
        });
        site.setMode(site.latest_mode, true);
        $('#mode-status').hide();
        $('.history-message').remove();
      };

      self.reload = function() {
        $.each(compare_data, function (cell, text) {
          $(cell).html(text);
        });
      };

      self.compare = function (old_id, diff_id, url) {
        if (mode == 'disabled') {
          self.init();
          return null;
        }
        else if (mode == 'normal') {
          if (site.canEdit()) {
            $('#messages-wrapper').append($('<div class="history-message">ขณะนี้คุณอยู่ในหมวดเปรียบเทียบ จะไม่สามารถแก้ไขข้อความใดๆได้ <a id="normal-mode">ยกเลิกการดูประวัติ</a></div>'));
            $('#normal-mode').click(function () { $('#compare-cancel').click(); });
          }
        }
        self.setMode('compare');
        old_id = old_id? old_id: 0;
        url = url? url: '/api/projecthistorys/' + project_id + '/' + old_id + '/' +diff_id;
        $.getJSON(url, {}, function (resp) {
          compare_data = resp
          self.reload();
        });
      };



      self.init();


    };

    // init history
    pHistory = new History(project_id);


    function historyClick(obj) {
      obj = obj.target? obj.target: obj;

      var current_val = parseInt($(obj).val());
      current_val = current_val? current_val: 99999999;
      var current_class = $(obj).attr('class');
      var swop_class = {
        'ProjectHistory-diff-id': 'ProjectHistory-old-id', 
        'ProjectHistory-old-id': 'ProjectHistory-diff-id'
      };
      var tf = {true: 'none', false: 'block'};
      var display = {'ProjectHistory-diff-id': tf, 'ProjectHistory-old-id': tf};

      $('.' + current_class).attr('checked', false);
      $(obj).attr('checked', true);

      $('.' + swop_class[current_class]).each(function () {


        var other_val = parseInt($(this).val());
        other_val = other_val? other_val: 99999999;
        var idx = current_class == 'ProjectHistory-diff-id'? other_val >= current_val: other_val <= current_val;
        $(this).css('display', display[current_class][idx]);
      });
    }

    function curpreClick(obj) {
      obj.preventDefault();
      var current_mode = pHistory.getMode();

      pHistory.setMode('disabled');
      var tmp = $(obj.target).attr('href').split('/');
      $('#ProjectHistory-' + tmp[4] + '-old-id').click();
      $('#ProjectHistory-' + tmp[5] + '-diff-id').click();
      pHistory.setMode(current_mode);

      pHistory.compare(0, 0, $(this).attr('href'));


    }


    function prependHistories(histories) {
      var current = $('#project-history-items .current');
      $.each(histories, function (i, history) {
        history = $(history);
        current.after(history);

        history.find('.ProjectHistory-old-id').click(historyClick);
        history.find('.ProjectHistory-diff-id').click(historyClick);
        history.find('.ProjectHistory-curpre a').click(curpreClick);
        $('.ProjectHistory-old-id:checked').click();
        $('.ProjectHistory-diff-id:checked').click();
      });
    }

    function addEventHistories() {
      $('.added .ProjectHistory-old-id').click(historyClick);
      $('.added .ProjectHistory-diff-id').click(historyClick);
      $('.added .ProjectHistory-curpre a').click(curpreClick);
      $('.ProjectHistory-old-id:checked').click();
      $('.ProjectHistory-diff-id:checked').click();
      $('.added').removeClass('added');
    }


    function saveEditableHelper(arg1, arg2, jqobj, val, create_id) {
        if (jqobj || Aloha.isModified()) {
            if (jqobj) {
                var dom    = jqobj;
                var cell   = jqobj.attr('id');
            }
            else {
                var dom    = Aloha.getActiveEditable().obj;
                var cell   = Aloha.getActiveEditable().getId();
            }
            var code   = cell.split('-');

            if (code[0] == 'Plan' && !jqobj) {
                var model  = code[0], field = code[1], week = $('#week_options').val();
                var attr   = {};

                attr['week'] = week;
                attr['project'] = project_id;
                attr[field] = dom.html();
                attr['cell'] = '.week-' + week + ' #' + cell;

                $.ajax({
                    'url': '/api/' + model.toLowerCase() + 's',
                    'type': 'POST',
                    'dataType': 'json',
                    'data': (attr),
                    'beforeSend' : function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    },
                    'success': function (data) {
                        $.each(data, function (field_name, val) {
                            //$('#' + model + '-' + field_name).html(val);
                        });
                        $('input#current-plan-id').val(data['id']);
                        prependHistories(data['histories']);
                    }
                });
            }
            else if (code[0] == 'Task') {
                var model  = code[0], day = code[1], field  = code[2], week = $('#week_options').val();
                var attr   = {};

                attr['day'] = day;
                attr['plan'] = $('input#current-plan-id').val();
                attr[field] = dom.html();
                attr['cell'] = '.week-' + week + ' #' + cell;

                $.ajax({
                    'url': '/api/' + model.toLowerCase() + 's',
                    'type': 'POST',
                    'dataType': 'json',
                    'data': (attr),
                    'beforeSend' : function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    },
                    'success': function (data) {
                        $.each(data, function (field_name, val) {
                            //$('#' + model + '-' + day + '-' + field_name).html(val);
                        });
                        prependHistories(data['histories']);

                    }
                });
            }
            else {
                var model  = code[0], id = code[1], field  = code[2];
                var attr   = {};

                if (id == 0 && !create_id) {
                  return '';
                }


                attr['id'] = id;

                attr[field] = val? val: dom.html();
                if (val === false) {
                    attr[field] = 0;
                }

                attr['cell'] = '#' + cell;

                $.ajax({
                    'url': '/api/' + model.toLowerCase() + 's',
                    'type': 'POST',
                    'dataType': 'json',
                    'data': (attr),
                    'beforeSend' : function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                    },
                    'success': function (data) {
                        $.each(data, function (field_name, val) {
                            //$('#' + model + '-' + id + '-' + field_name).html(val);
                        });
                        if (model == 'CoreStandard' && field == 'code') {
                          build_standard(ocodes);
                        }
                        prependHistories(data['histories']);
                    }
                });
            }

        };
    }

    function saveEditable(jqobj, val, create) {
        return saveEditableHelper(null, null, jqobj, val, create);
    }


    // Gallery ================================
    var gallery_render = function (e, pathname, state, loaded) {
      pathname = pathname? pathname: $(this).attr('href');
      if (loaded) {
        window.history.pushState('', '', pathname + '#gallery-tab');
        return false;
      }

      if (pathname && pathname.indexOf('stockphoto') > 0 && pathname.indexOf('media') == -1) {
        if (e) {
          e.preventDefault();
        }

        var spliter = pathname.indexOf('?') > -1? '&': '?';
        $('#gallery-render').load(pathname + spliter + 'ajax=1', function () {
          $('#gallery-render a').click(gallery_render);
          if (site.canEdit()) {
            $('.editable', this).aloha();
          }
        });

        if (!state) {
          window.history.pushState('', '', pathname + '#gallery-tab');
        }
      }
    }

    var gallery_loaded = false;
    var gallery_init = function (access_from_url, id) {
      var pathname = window.location.pathname;
      var hash = window.location.hash;
      var state = '';

      if (access_from_url && access_from_url !== true && access_from_url['type']) {
        state = access_from_url['type'];
      }

      // Click from menu tab
      if (access_from_url !== true && pathname.indexOf('stockphoto') == -1 && hash == '#gallery-tab') {
        gallery_render(null, '/projects/' + project_id + '/stockphoto', false, gallery_loaded);
        gallery_loaded = true;
      }
      // Access from push or pop state
      else if (access_from_url !== true && pathname.indexOf('stockphoto') != -1 && hash == '#gallery-tab') {
        gallery_render(null, pathname, state);
      }
      // Access from url with stockphoto path
      else if (access_from_url === true && pathname.indexOf('stockphoto') != -1) {
        gallery_render(null, pathname);
      }
      $('#gallery-render a').click(gallery_render);
    }

    // Blog ================================
    var blog_render = function (e, pathname, state, loaded) {
      pathname = pathname? pathname: $(this).attr('href');
      if (loaded) {
        window.history.pushState('', '', pathname + '#blog-tab');
        return false;
      }
      if (pathname && pathname.indexOf('blogs') > 0 && pathname.indexOf('media') == -1) {
        if (e) {
          e.preventDefault();
        }

        var spliter = pathname.indexOf('?') > -1? '&': '?';
        $('#blog-render').load(pathname + spliter + 'ajax=1', function () {
          $('#blog-render a').click(blog_render);
          if (site.canEdit()) {
            $('.editable', this).aloha();
          }
        });

        if (!state) {
          window.history.pushState('', '', pathname + '#blog-tab');
        }
      }
    }

    var blog_loaded = false;
    var blog_init = function (access_from_url) {
      var pathname = window.location.pathname;
      var hash = window.location.hash;
      var state = '';

      if (access_from_url && access_from_url !== true && access_from_url['type']) {
        state = access_from_url['type'];
      }

      // Click from menu tab
      if (access_from_url !== true && pathname.indexOf('blogs') == -1 && hash == '#blog-tab') {
        blog_render(null, '/projects/' + project_id + '/blogs', false, blog_loaded);
        blog_loaded = true;
      }
      // Access from push or pop state
      else if (access_from_url !== true && pathname.indexOf('blogs') != -1 && hash == '#blog-tab') {
        blog_render(null, pathname, state);
      }
      // Access from url with stockphoto path
      else if (access_from_url === true && pathname.indexOf('blogs') != -1) {
        blog_render(null, pathname);
      }
      $('#blog-render a').click(blog_render);
    }

    // Plan ================================
    var plan_loaded = false;
    var plan_init = function (access_from_url) {
      var pathname = window.location.pathname;
      var hash = window.location.hash;
      var state = '';
      var week = pathname.split('/')[4];
      if(!week) {
        week = 1;
      }

      // Click from link
      if (access_from_url && access_from_url !== true && access_from_url['type'] && access_from_url['type'] == 'click') {
        access_from_url.preventDefault();
        state = access_from_url['type'];
        pathname = $(access_from_url.target).attr('href');
        week = pathname.split('/')[4].split('#')[0];
        planHandler.load(week);
      }
      // Click from menu tab
      else if (access_from_url !== true && pathname.indexOf('plans') == -1 && hash == '#plan-tab') {
        planHandler.load(week, function() {}, false, plan_loaded);
        plan_loaded = true;
      }
      // Access from push or pop state
      else if (access_from_url !== true && pathname.indexOf('plans') != -1 && hash == '#plan-tab') {
        planHandler.load(week, function() {}, true);
      }
      // Access from url with plan path
      else if (access_from_url === true && pathname.indexOf('plans') != -1) {
        planHandler.load(week);
      }
    }

    // State Control =============================
    var state_control = function (e) {
      var pathname = window.location.pathname;
      var hash = window.location.hash;

      var hashmap = {
        '#topic-tab': true,
        '#plan-tab': false,
        '#standard-tab': true,
        '#project-history-tab': true,
        '#gallery-tab': false,
        '#blog-tab': false
      };

      if (hashmap[hash]) {
        window.history.pushState('', '', '/projects/' + project_id + hash);
        console.log(hash);
      }

    }

</script>
{% endblock %}

{% block script_override %}
<script type="text/javascript">

</script>
{% endblock %}

{% block script_footer %}
<script>

    (function(window,undefined){

      // Prepare
      var
        $ = window.jQuery,
        $body = $('body');
      
      Aloha = Aloha;
      // Aloha
      $body.bind('aloha',function(){

        Aloha.settings = {
            "i18n": {"current": "en"},
            "ribbon": false,
            "plugins": {
              "link": {
                  
              },
              "format": { 
                config : [ 'b', 'i','u','del','sub','sup', 'p', 'title', 'h1', 'h2', 'h3', 'h4', 
      'h5', 'h6', 'pre', 'removeFormat'],
              } 
            }
        };

        Aloha.bind('aloha-editable-deactivated', saveEditableHelper);

        // mark active Editable with a css class
        Aloha.bind(
            "aloha-editable-activated",
            function (jEvent, aEvent) {
              aEvent.editable.obj.addClass('GENTICS_editable_active');
            }
        );
  
        // remove active Editable ccs class
        Aloha.bind("aloha-editable-deactivated",
            function (jEvent, aEvent) {
              aEvent.editable.obj.removeClass('GENTICS_editable_active');
            }
        );


        if (is_authenticated) {
          if (!site.canEdit()) {
            Aloha.bind('aloha-editable-created',function(event, editable){ 
              editable.obj.contentEditable('false');
            });
          }
          $('.editable').aloha();
        }

        $('.menu').tabify();


        $('#compare-cancel').click(function () {
          pHistory.disable();
          pHistory.setMode('disabled');
        });

        $('#compare-submit').click(function () {
          pHistory.setMode('normal');
          pHistory.compare($('.ProjectHistory-old-id:checked').val(), $('.ProjectHistory-diff-id:checked').val());
        });

        $('#week_options').change(function() {
          $('#week-markup').attr('class', 'week-' + $(this).val());
          planHandler.load($(this).val(), function () {
            if (pHistory.getMode() == 'compare') {
              pHistory.reload();
            }
          });
          stack = new Undo.Stack();
        });

        $('.ProjectHistory-old-id, .ProjectHistory-diff-id').click(historyClick).click(function () {
          pHistory.compare($('.ProjectHistory-old-id:checked').val(), $('.ProjectHistory-diff-id:checked').val());
        });

        $('.ProjectHistory-diff-id').eq(0).click();
        $('.ProjectHistory-old-id').eq(1).click();

        $('.project-history-submit button').click(function () {
          $('.project-history-submit button').removeClass('active');
          $(this).addClass('active');
        });

        $('.ProjectHistory-curpre a').click(curpreClick);

        $('#history-more a').click(function (e) {
          e.preventDefault();
          $.getJSON('/api/projecthistorys/getpage/' + project_id + '/' + history_last_id, {}, function (resp) {
            if (resp['is_end']) {
              $('#history-more').remove();
            }
            history_last_id = resp['history_last_id'];
            $('#project-history-items').append(resp['list']);
            addEventHistories();
          });
        });

        site.init();

      });

      $('#standard-add-submit').click(function () {

        var code = $('#CoreStandard-0-code').html();
        var description = $('#CoreStandard-0-description').html();

        if (!code) {
          alert('ข้อมาตรฐานจำเป็นต้องกรอก');
        }
        else {
          $.ajax({
              'url': '/api/corestandards',
              'type': 'POST',
              'dataType': 'json',
              'data': {'code': code, 'description': description},
              'beforeSend' : function(xhr) {
                  xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
              },
              'success': function (data) {

                var obj = $(data);
                if (site.canEdit()) {
                  $('.editable', obj).aloha(); 
                }
                $('#standard-items').prepend(obj);
                $('#standard-add .editable').html('');
                $('.CoreStandard-code', obj).map(function () {
                  ocodes[$(this).html().trim()] = {
                    'jqobj': $(this).parent().next().next().children('.CoreStandard-status').children('.status'),
                    'status':false
                  };
                });
                build_standard(ocodes);

                $('#messages-wrapper').append($('<div class="corestandard-message">เพิ่มมาตรฐานแล้ว</div>'));
                setTimeout(function () {$('.corestandard-message').remove()}, 5000)

              }
          });
        }
      
      });

      $('#blog-add-link').click(function (e) {
        e.preventDefault();
        $('#blog-add-form').show();
        $('#add-frame').show();
      });

      $('#blog-add-cancel').click(function () {
        $('#blog-add-form').hide();
        $('#add-frame').hide();
        $('#blog-add .editable').html('');
      });

      $('#blog-add-submit').click(function () {

        var title = $('#Blog-0-title').html();
        var body = $('#Blog-0-body').html();
        var user = $('#Blog-0-user').html();

        if (!title) {
          alert('ชื่อเรื่องจำเป็นต้องกรอก');
        }
        else {
          $.ajax({
              'url': '/api/blogs',
              'type': 'POST',
              'dataType': 'json',
              'data': {'title': title, 'body': body, 'user': user, 'project': project_id},
              'beforeSend' : function(xhr) {
                  xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
              },
              'success': function (data) {
                blog_init();
                $('#messages-wrapper').append($('<div class="blog-message">เพิ่มบล็อกแล้ว</div>'));
                setTimeout(function () {$('.blog-message').remove()}, 5000)
                $('#blog-add-form').hide();
                $('#add-frame').hide();
                $('#blog-add-form .editable').html('');

              }
          });
        }
      
      });


      $('#menu a').click(function () {
        stack = new Undo.Stack();
      });


      $(window).bind('popstate', gallery_init);
      $(window).bind('popstate', blog_init);
      $(window).bind('popstate', plan_init);

      $(window).bind('hashchange', gallery_init);
      $(window).bind('hashchange', blog_init);
      $(window).bind('hashchange', plan_init);

      $(window).bind('hashchange', state_control);

      $('a.plan-week-link').click(plan_init);

      $('#mode-button').iphoneSwitch(site.canEdit()? 'on': 'off', 
        function() {
          site.setMode('edit');
        },
        function() {
          site.setMode('view');
        },
        {
          switch_on_container_path: static_url + 'images/iphone_switch_container_off.png',
          switch_off_container_path: static_url + 'images/iphone_switch_container_on.png',
          switch_path: static_url + 'images/iphone_switch.png',
        }
      );



    })(window);

</script>
{% endblock %}

{% block title %}โครงงาน : {{ project.name }}{% endblock %}


{% block breadcrumb %}
<li><a href="{% url quarter_project_list %}">โครงงาน</a></li>
<li>{{ project.name }}</li>
{% endblock %}

{% block header %}
<div class="grid_16"><div class="ignore"><h1>โครงงาน : <span id="Project-{{ project.id }}-name" class="editable">{{ project.name }}</span></h1></div></div>
<div class="grid_3"><div class="ignore"><p>ชั้นประถมศึกษาปีที่ : <span id="Project-{{ project.id }}-grade" class="editable">{{ project.grade }}</span></p></div></div>
<div class="grid_3"><div class="ignore"><p>ปีการศึกษา : <span id="Project-{{ project.id }}-year" class="editable">{{ project.year }}</span></p></div></div>
<div class="grid_3"><div class="ignore"><p>ภาคเรียน : <span id="Project-{{ project.id }}-quarter" class="editable">{{ project.quarter }}</span></p></div></div>
<div class="clearfix"></div>
{% endblock %}


{% block second %}
<ul id="menu" class="menu">
  <li id="tab-topic" class="active"><a href="#topic">สาระ</a></li>
  <li><a id="tab-plan" href="#plan">แผน</a></li>
  <li><a id="tab-standard" href="#standard">มาตรฐาน</a></li>
  <li><a id="tab-project-history" href="#project-history">ประวัติ</a></li>
  <li><a id="tab-gallery" href="#gallery">อัลบัมภาพ</a></li>
  <li><a id="tab-blog" href="#blog">บล็อก</a></li>
</ul>
{% if user.is_authenticated %}
<div id="mode-wrap">
  <div id="mode-status"></div>
  <div id="mode-button"></div>
</div>
{% endif %}

{% endblock %}

{% block content %}

<div id="topic" class="content">
    <div class="thead topic-first head-2">
        <div class="grid_{{ grid_topic }}"><div class="ignore header_1">สาระการเรียนรู้</div></div>
        <div class="left">
            <div class="standard_header header_2">มาตรฐานการเรียนรู้และตัวชี้วัด</div>
            {% for header in standard_header %}
            <div class="grid_{{ grid }}"><div class="ignore header_2">{{ header.title|safe }}</div></div>
            {% endfor %}
        </div>
        <div class="grid_{{ grid_plan }}"><div class="ignore header_1">สัปดาห์</div></div>
        <div class="clearfix"></div>
    </div>
    <div class="tbody topic-first">
        {% include "topic_items.html" %}
    </div>
</div>
<div id="plan" class="content">
    <div id="week-markup" class="week-1">

        <div class="toolbar head-1">
            <div>
                สัปดาห์ :
                <select id="week_options">
                    {% for i in weeks %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <form><input id='current-plan-id' type="hidden" value=""/></form>

        <div class="thead plan-first head-2">
            <div class="grid_4"><div class="ignore hrow">สาระสำคัญ<br />Main Point</div></div>
            <div class="grid_8"><div class="ignore hrow">เป้าหมายหลัก<br />Goal</div></div>
            <div class="grid_4"><div class="ignore hrow">เนื้อหา/กิจกรรม ชิ้นงาน<br />Content/Activity Work</div></div>
            <div class="clearfix"></div>
        </div>
        <div class="tbody plan-first">
            <div class="item odd">
              <div class="grid_4">
                  <div id="Plan-main_point" class="editable ignore">-</div>
              </div>
              <div class="grid_8">
                  <div id="Plan-goal" class="editable ignore">-</div>
              </div>
              <div class="grid_4">
                  <div id="Plan-activity" class="editable ignore">-</div>
              </div>
              <div class="clearfix"></div>
            </div>
        </div>
        <br/>
        <hr/>
        <div class="thead plan-second">
            <div class="grid_5"><div class="ignore hrow">หัวเรื่อง<br />Sub-Topic</div></div>
            <div class="grid_3"><div class="ignore hrow">เครื่องมือการคิด<br />Key Thinking</div></div>
            <div class="grid_4"><div class="ignore hrow">พฤติกรรมที่แสดงว่าเข้าใจ<br />Understanding Performance</div></div>
            <div class="grid_4"><div class="ignore hrow">การประเมิณ<br />Assessment</div></div>
            <div class="clearfix"></div>
        </div>
        <div class="tbody plan-second">
            <div class="item odd">
                <div class="grid_5">
                    <div id="Plan-sub_topic" class="editable ignore">-</div>
                </div>
                <div class="grid_3">
                    <div id="Plan-key_thinking" class="editable ignore">-</div>
                </div>
                <div class="grid_4">
                    <div id="Plan-performance" class="editable ignore">-</div>
                </div>
                <div class="grid_4">
                    <div id="Plan-assessment" class="editable ignore">-</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <br/>
        <hr/>
        <div class="thead task">
            <div class="grid_2 hcol"><div class="ignore">วัน<br />Day</div></div>
            <div class="grid_6 hcol"><div class="ignore">กิจกรรมการเรียนรู้<br />Activities</div></div>
            <div class="grid_4 hcol"><div class="ignore">สื่อ/แหล่งเรียนรู้<br />Sources</div></div>
            <div class="grid_4 hcol"><div class="ignore">ชิ้นงาน<br />Work</div></div>
            <div class="clearfix"></div>
        </div>
        <div class="tbody task">
            {% for day, display in days %}
            <div class="item {% cycle 'odd' 'even' as rowtype %}">
                <div class="grid_2">
                    <div class="ignore hrow">
                        <div class="day-label">{{ display }}</div>
                        <div class="day-wrap"><div id="Task-{{ day }}-hour" class="editable ignore day-hour">-</div> <span class="suffix">ชม.</span></div>
                    </div>
                </div>
                <div class="grid_6">
                    <div id="Task-{{ day }}-activity" class="editable ignore">-</div>
                </div>
                <div class="grid_4">
                    <div id="Task-{{ day }}-source" class="editable ignore">-</div>
                </div>
                <div class="grid_4">
                    <div id="Task-{{ day }}-work" class="editable ignore">-</div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="standard" class="content">
    <div class="thead standard head-2">
        <div class="grid_3"><div class="ignore hrow">ข้อมาตรฐาน</div></div>
        <div class="grid_10"><div class="ignore hrow">คำอธิบาย</div></div>
        <div class="grid_3"><div class="ignore hrow">อยู่ในแผนแล้ว</div></div>
        <div class="clearfix"></div>
    </div>
    {% if user.is_authenticated %}
    <div id="standard-add" class="tbody standard form-add head-1" style="display:{% if is_view_mode %}none{% else %}block{% endif %};">
        <div class="grid_3" style="display:none;">
            <div id="CoreStandard-0-group_code" class="ignore CoreStandard-group_code"></div>
        </div>
        <div class="grid_3">
            <div id="CoreStandard-0-code" class="ignore CoreStandard-code editable"></div>
        </div>
        <div class="grid_10">
            <div id="CoreStandard-0-description" class="ignore CoreStandard-description editable"></div>
        </div>
        <div class="grid_3">
            <div id="CoreStandard-0-add" class="ignore CoreStandard-status"><button id="standard-add-submit">เพิ่ม</button></div>
        </div>
        <div class="clearfix"></div>
    </div>
    {% endif %}
    <div id="standard-items" class="tbody standard">
        {% for standard in standards %}
        <div style="display: none;">{% cycle 'odd' 'even' as rowtype %}</div>
        {% include "standard_item.html" %}
        {% endfor %}
    </div>
</div>
<div id="project-history" class="content">
    <div class="thead project-history-submit head-1">
        <div class="grid_16">
            <div class="ignore hrow">
                <button id="compare-cancel" class="active">ยกเลิกการเปรียบเทียบ</button>
                <button id="compare-submit">เปรียบเทียบ</button>
            </div>
        </div>
    </div>
    <div class="thead project-history head-2">
        <div class="grid_3"><div class="ignore hrow">เปรียบเทียบกับ</div></div>
        <div class="grid_1"><div class="ignore hrow">เก่า</div></div>
        <div class="grid_1"><div class="ignore hrow">ใหม่</div></div>
        <div class="grid_6"><div class="ignore hrow">วันเวลา</div></div>
        <div class="grid_5"><div class="ignore hrow">คนแก้ไข</div></div>
        <div class="clearfix"></div>
    </div>
    <div id="project-history-items" class="tbody project-history">
        {% include "history_item.html" %}
        {% include "history_items.html" %}
    </div>
    <div class="tbody project-history">
      {% if not is_end %}
      <div id="history-more"><a href="" class="more">ดูที่เก่ากว่านี้</a></div>
      {% endif %}
    </div>
</div>
<div id="gallery" class="content">
  <div id="gallery-render">
  </div>
</div>
<div id="blog" class="content">
    {% if user.is_authenticated %}
    <div id="blog-add" class="thead blog blog-navi head-1">
      <div id="blog-add-link" class="form-add" style="display:{% if is_view_mode %}none{% else %}block{% endif %};">
        <a href="#">สร้างบล็อกใหม่</a>
      </div>
      <div id="blog-add-form">
        <div class="grid_14 head-wrapper">
            <h1>สร้างบล็อก</h1>
        </div>
        <div class="clearfix"></div>
        <div class="grid_1">
            <div id="Blog-0-title-label">ชื่อเรื่อง</div>
        </div>
        <div class="grid_13">
            <div id="Blog-0-title" class="ignore Blog-title editable"></div>
        </div>
        <div class="clearfix"></div>
        <div class="grid_1">
            <div for="Blog-0-body-label">เนื้อหา</div>
        </div>
        <div class="grid_13">
            <div id="Blog-0-body" class="ignore Blog-body editable"></div>
        </div>
        <div class="clearfix"></div>
        <div class="grid_14" style="display: none;">
            <div id="Blog-0-user" class="ignore Blog-user">{{ user.id }}</div>
        </div>
        <div class="clearfix"></div>
        <div class="grid_14 submit-wrapper">
            <button id="blog-add-submit">สรา้ง</button>
            <button id="blog-add-cancel">ยกเลิก</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    {% endif %}

    <div id="blog-render">
    </div>
</div>
{% endblock %}
