{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}openkala/plan.js"></script>

<script type="text/javascript" charset="utf-8">
    Ext.onReady(function() {
      function saveEditable() {
          if (GENTICS.Aloha.isModified()) {
              objID = GENTICS.Aloha.getActiveEditable().getId().split('-')[1];
              attrs = [];
              $(".topic-"+objID).each(function (i, item) {
                st = {};
                st['standard' + (i+1)] = $(this).html();
                attrs.push(st);
              });
              console.log(attrs);
          };
      }

      repositories.CoreStandard.settings.data = [
      {% for std in coreStandards %}
          { id: {{ std.id }}, name: '{{ std.code }}', url: '/coreStandard/{{ std.id }}', type: 'standard'},
      {% endfor %}
      ]

      
      GENTICS.Aloha.settings = {
          "i18n": {"current": "en"},
          "ribbon": false,
          "plugins": {
            "com.gentics.aloha.plugins.Link": {
                
            },
            "com.gentics.aloha.plugins.GCN": { 
              "enabled": true 
            },
            "com.gentics.aloha.plugins.Format": { 
              config : [ 'b', 'i','u','del','sub','sup', 'p', 'title', 'h1', 'h2', 'h3', 'h4', 
    'h5', 'h6', 'pre', 'removeFormat'],
            } 
          }
        };
      $('.editable').aloha();
      
      GENTICS.Aloha.EventRegistry.subscribe(GENTICS.Aloha, "editableDeactivated", saveEditable);

      $('.menu').tabify();


      // init plan
      planHandler.init( {{project.id }} , '{{ STATIC_URL }}' );
      planHandler.load(1);
      
    });
</script>
{% endblock %}

{% block title %}Project: {{ project.name }}{% endblock %}

{% block header %}
<div class="grid_16"><h1>Project: <span class="editable">{{ project.name }}</span></h1></div>
<div class="grid_3"><p>Grade : <span class="editable">{{ project.grade }}</span></p></div>
<div class="grid_3"><p>Year : <span class="editable">{{ project.year }}</span></p></div>
<div class="grid_3"><p>Quarter : <span class="editable">{{ project.quarter }}</span></p></div>
<div class="clearfix" />
{% endblock %}

{% block content %}

<ul id="menu" class="menu">
  <li class="active"><a href="#content">สาระ</a></li>
  <li><a href="#plan">แผน</a></li>
</ul>
<div id="content" class="content">
    <div class="thead">
        <div class="grid_{{ grid_topic }} header_1" style="height: 50px">สาระการเรียนรู้</div>
        <div class="left">
            <div class="header_2">มาตรฐานการเรียนรู้และตัวชี้วัด</div>
            {% for header in standard_header %}
            <div class="grid_{{ grid }} header_2">{{ header.title }}</div>
            {% endfor %}
        </div>
        <div class="grid_{{ grid_plan }} header_1">แผน</div>
        <div class="clearfix"></div>
    </div>
    <div class="tbody">
        {% include "topic_items.html" %}
    </div>
</div>
<div id="plan" class="content">

    <div class="toolbar">
        <div >
            Week :
            <select id="week_options">
                {% for i in weeks %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="thead">
        <div class="grid_3">เป้าหมายหลัก</div>
        <div class="grid_3">เนื้อหากิจกรรม/ชิ้นงาน</div>
        <div class="grid_3">หัวข้อย่อย</div>
        <div class="grid_3">เครื่องมือการคิด</div>
        <div class="grid_3">พฤติกรรมที่แสดงว่าเข้าใจ</div>
        <div class="clearfix"></div>
    </div>
    <div class="tbody">
        <div class="item odd">
          <div id="goal" class="grid_3 editable">-</div>
          <div id="activity" class="grid_3 editable">-</div>
          <div id="sub_topic" class="grid_3 editable">-</div>
          <div id="key_thinking" class="grid_3 editable">-</div>
          <div id="performance" class="grid_3 editable">-</div>
          <div class="clearfix"></div>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="thead">
        <div class="grid_2">Day</div>
        <div class="grid_5">Activity</div>
        <div class="grid_3">Source</div>
        <div class="grid_3">Work</div>
        <div class="grid_3">Assessment</div>
        <div class="clearfix"></div>
    </div>
    <div class="tbody">
        {% for d in days %}
        <div class="item {% cycle 'odd' 'even' as rowtype %}">
            <div class="grid_2">{{ d.display }}์</div>
            <div id="activity-{{ d.day }}" class="grid_5 editable"></div>
            <div id="source-{{ d.day }}" class="grid_3 editable"></div>
            <div id="work-{{ d.day }}" class="grid_3 editable"></div>
            <div id="assessment-{{ d.day }}" class="grid_3 editable"></div>
            <div class="clearfix"></div>
        </div>
        {% endfor %}
    </div>
    <div class="clear" />
</div>
{% endblock %}
