{% extends "base.html" %}

{% block title %}Test{% endblock %}

{% block header %}
<style>
</style>
<script>

Ext.onReady(function() {

	function saveEditable() {
		console.log(arguments);
	}

	GENTICS.Aloha.settings = {
			"i18n": {"current": "en"},
			"ribbon": false,
			"plugins": { 
				"com.gentics.aloha.plugins.GCN": { 
					"enabled": true 
				},
			 	"com.gentics.aloha.plugins.Format": { 
					config : [ 'b', 'i','u','del','sub','sup', 'p', 'title', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'removeFormat'],
				} 
		 	}
		};
	$('.editable').aloha();

	GENTICS.Aloha.EventRegistry.subscribe(GENTICS.Aloha, "editableDeactivated", saveEditable);
	// $('#editable2').aloha();
	// $('#editable3').aloha();

});
</script>
{% endblock %}

{% block content %}
<div class="container_12">
<div id="editable1" class="editable grid_4">
Hello
</div>
<div id="editable2" class="editable grid_4">
hi
</div>
<div id="editable3" class="editable grid_4">
Welcome
</div>
<div class="clear"/>
</div>

{% endblock %}
