{% load utility %}

{% for topic in topics %}
<div class="{% cycle 'odd' 'even' as rowtype %} item">
    <div class="grid_{{ grid_topic }}">
        <div id="topic-{{ topic.id }}-title" class="editable topic-title">{{ topic.title }}</div>
        <div id="topic-{{ topic.id }}" class="editable topic-body topic-body">{{ topic.body }}</div>
    </div>
    {% for i, name in standard_index %}
    <div id="topic-{{ topic.id }}-standard-{{ i }}" class="editable topic-standard grid_{{ grid }} {{ rowtype }}">{{ topic|get_attr:name }}</div>
    {% endfor %}
    <div class="grid_{{ grid_plan }} {{ rowtype }} plan">
        <form class="plans-map">
            {% for plan in plans %}
            <div class="week">
                <label for="topic-{{ topic.id }}-plan-{{ plan.id }}">{{ plan.week }}</label>
                <input type="checkbox" id="topic-{{ topic.id }}-plan-{{ plan.id }}" name="topic-{{ topic.id }}-plan-{{ plan.id }}" />
            </div>
            {% endfor %}
        </form>
    </div>
    <div class="clearfix"></div>
</div>
{% endfor %}
