{% extends "base.html" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    Ext.onReady(function() {

      function saveEditable() {
        //console.log(arguments);
      }

      GENTICS.Aloha.settings = {
          "i18n": {"current": "en"},
          "ribbon": false,
          "plugins": { 
            "com.gentics.aloha.plugins.GCN": { 
              "enabled": true 
            },
            "com.gentics.aloha.plugins.Format": { 
              config : [ 'b', 'i','u','del','sub','sup', 'p', 'title', 'h1', 'h2', 'h3', 'h4', 
    'h5', 'h6', 'pre', 'removeFormat'],
            } 
          }
        };
      $('.editable').aloha();
      
      GENTICS.Aloha.EventRegistry.subscribe(GENTICS.Aloha, "editableDeactivated", saveEditable);
    });
</script>
{% endblock %}

{% block title %}Topic: {{ topic.title }}{% endblock %}

{% block header %}
<h1>Topic : <span>{{ topic.title }}<span></h1>
{% endblock %}

{% block content %}
<div id="content">
    <div class="thead">
        <div class="grid_1">Week</div>
        <div class="grid_3">Goal</div>
        <div class="grid_3">Activity</div>
        <div class="grid_3">Sub Topic</div>
        <div class="grid_2">Key Thinking</div>
        <div class="grid_3">Performance</div>
        <div class="grid_1">Link</div>
        <div class="clearfix"></div>
    </div>
    <div class="tbody">
        {% include "plan_items.html" %}
    </div>
    <div class="clear" />
</div>
{% endblock %}
